body{margin:0;background:#000;color:#b30000;font-family:Impact,Arial;text-align:center}
.menu-buttons button,button{margin:15px auto;display:block;width:80%;padding:18px;font-size:22px;background:#0b0b0b;color:#b30000;border:2px solid #550000}
button:disabled{opacity:.3}
#progress-container{width:80%;height:18px;background:#111;margin:20px auto;display:none}
#progress-bar{height:100%;width:0%;background:#b30000}
#alert{display:none;font-size:36px;color:red;letter-spacing:8px;animation:blink .4s infinite}
@keyframes blink{0%,100%{opacity:1}50%{opacity:0}}
.shake{animation:shake .15s infinite}
@keyframes shake{0%{transform:translate(0)}25%{transform:translate(-4px,2px)}50%{transform:translate(4px,-2px)}75%{transform:translate(-2px,4px)}100%{transform:translate(0)}}
.green-screen{background:green;color:black;height:100vh;display:flex;align-items:center;justify-content:center;font-size:42px}

.led{
 width:16px;height:16px;margin:0 auto 10px;
 border-radius:50%;background:#111;
}
.led.active.yellow{background:gold;box-shadow:0 0 20px gold}
.led.active.green{background:lime;box-shadow:0 0 20px lime}
.led.active.red{background:red;box-shadow:0 0 20px red}
#progress-container{
 width:80%;height:18px;
 background:#111;margin:20px auto;display:none
}